<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>Películas</ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="movies"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>Estrénos</ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="movies"></app-slideshow-poster>


  <ion-grid fixed>
    <ion-row>
      <ion-col>Populares</ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pairs [movies]="moviesPopular" (loadingMore)="loadingMore()"></app-slideshow-pairs>
  
</ion-content>
